@use '../abstracts/variables' as *;

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;

  @include laptop {
    justify-content: space-between;
  }
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  text-decoration: none;
  padding-top: 0.5em;
}

.header-title {
  display: flex;
  font-weight: 600;
  color: $orange;
  font-size: 3rem;
  margin-left: 1.5rem;

  @include tablet {
    margin-left: 1.5rem;
    font-size: 3rem;
  }

  @include smallmobile {
    margin-left: 1rem;
    font-size: 1.2rem;
  }
}

.header-projects {
  font-size: 2rem;
  color: $orange;
  margin-right: 1.5rem;

  &.header-projects:hover {
    color: $orange;
    text-decoration: underline;
  }

  @include tablet {
    margin-right: 0.2rem;
    font-size: 3rem;
  }

  @include smallmobile {
    font-size: 1.3rem;
  }
}

.header-menu {
  @include tablet {
    margin-right: 1.5rem;
    h3 {
      font-size: 2rem;
    }
  }

  @include smallmobile {
    margin-right: 1rem;
    h3 {
      font-size: 1.5rem;
    }
  }
}
