@use '../abstracts/mixins' as *;
@use '../abstracts/colours' as *;

#navbar {
  //position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgb(18, 30, 39);
  z-index: 999;
  text-align: center;
  width: 100%;
  padding: 1rem 3rem;
}

ul {
  list-style-type: none;
}

.navbarList {
  display: flex;
  justify-content: space-evenly;
}

.navbarContainer {
  display: flex;
  justify-content: space-evenly;
}

.links {
  display: flex;
  color: white;
  width: 80%;
}

#navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 1.2em;
}

.toggleButton {
  display: flex;
  @include for-size(tablet) {
    display: none;
  }
}

.toggleButton svg {
  font-size: 50px;
}
.toggleButton button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.open {
  height: 100vh;
}

.open .links {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}

.open a {
  width: 100%;
  text-align: center;
}

.close {
  display: flex;
  justify-content: space-evenly;
}

.close a {
  @include for-size(phone) {
    display: none;
  }
}

/*
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;

  @include laptop {
    justify-content: space-between;
  }
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  text-decoration: none;
  padding-top: 0.5em;
}

.header-title {
  display: flex;
  font-weight: 600;
  color: $orange;
  font-size: 3rem;
  margin-left: 1.5rem;

  @include tablet {
    margin-left: 1.5rem;
    font-size: 3rem;
  }

  @include smallmobile {
    margin-left: 1rem;
    font-size: 1.2rem;
  }
}

.header-projects {
  font-size: 2rem;
  color: $orange;
  margin-right: 1.5rem;

  &.header-projects:hover {
    color: $orange;
    text-decoration: underline;
  }

  @include tablet {
    margin-right: 0.2rem;
    font-size: 3rem;
  }

  @include smallmobile {
    font-size: 1.3rem;
  }
}

.header-menu {
  @include tablet {
    margin-right: 1.5rem;
    h3 {
      font-size: 2rem;
    }
  }

  @include smallmobile {
    margin-right: 1rem;
    h3 {
      font-size: 1.5rem;
    }
  }
}


*/
