// Colours
$white: #f2f2f2;
$black: #000000;
$yellow: #f0db4f;
$blue: #1aa7ec;
$orange: #e47911;

// icon colours
$iconHtml: #c70630;
$iconHtmlBg: $black;

$iconCss: #1aa7ec;
$iconCssBg: $black;

$iconJs: #f0db4f;
$iconJsBg: #323330;

$iconMongo: #6ee7b7;
$iconMongoBg: #043125;

$iconReact: #61dafb;
$iconReactBg: #12272c;

$iconNode: #6cc24a;
$iconNodeBg: #215732;

$iconRest: #4a96c2;
$iconRestBg: #4295c5;

$iconType: #ffffff;
$iconTypeBg: #007acc;

$iconS3: #e47911;
$iconS3Bg: #f7f7f7;

$iconSass: #cc6699;
$iconSassBg: #f7f7f7;

$iconBoot: #563d7c;
$iconBootBg: #ffffff;

$iconRedux: #764abc;
$iconReduxBg: #ffffff;

$iconFirebase: #ffa611;
$iconFirebaseBg: #f6820d;
