@use './variables.scss' as var;

.icons-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include var.mobile {
    margin-bottom: 1rem;
  }
}

.icon {
  font-weight: 500;
  background-color: var.$black;
  display: flex;
  align-items: center;
  padding: 0.5em 0.5em;
  border-radius: 1rem;

  &:not(:last-of-type) {
    margin-right: 0.5rem;
  }

  .icon-title {
    padding-left: 5px;
  }
}

.icon--React {
  color: var.$iconReact;
  border: 2px solid var.$iconReact;
  background-color: var.$iconReactBg;
}

.icon--MongoDB {
  color: var.$iconMongo;
  border: 2px solid var.$iconMongo;
  background-color: var.$iconMongoBg;
}

.icon--Node {
  color: var.$iconNode;
  border: 2px solid var.$iconNode;
  background-color: var.$iconNodeBg;
}

.icon--REST {
  color: var.$iconRestBg;
  border: 2px solid var.$iconRest;
  background-color: black;
}

.icon--HTML {
  color: var.$iconHtml;
  border: 2px solid var.$iconHtml;
  background-color: var.$iconHtmlBg;
}
.icon--CSS {
  color: var.$iconCss;
  border: 2px solid var.$iconCss;
  background-color: var.$iconCssBg;
}

.icon--Javascript {
  color: var.$iconJs;
  border: 2px solid var.$iconJs;
  background-color: var.$iconJsBg;
}

.icon--Typescript {
  color: var.$iconTypeBg;
  border: 2px solid var.$iconTypeBg;
  background-color: #f7f7f7;
}

.icon--S3 {
  color: var.$iconS3;
  border: 2px solid var.$white;
  background-color: var.$iconS3Bg;
}

.icon--Sass {
  color: var.$iconSass;
  border: 2px solid var.$iconSass;
  background-color: var.$black;
}
